.container {
    width: 640px;
    margin: auto;
    margin-top: 100px;
    background: #1E1E1E;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}

.container hr {
    height: 2px;
    border: none;
    background: #707070;
}

.container h2 {
    font-size: 27px;
    font-weight: 700;
}

.answer-choice ul li { 
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.container .btn-primary {
    margin: auto;
    width: 250px;
    height: 65px;
    background: #03DAC6;
    color: #1E1E1E;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.container .index {
    margin: auto;
    font-size: 18px;
}

.container .correct {
    border-color: #00d397;
}

.container .incorrect {
    border-color: #FF4A4A;
}